@charset "utf-8";
style {
}
#logo {
	height: 100px;
	width: 114px;
	padding-left: 50px;
}
#banner {
	background-image: url(images/%E6%99%AF%E8%89%B23-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #D6D6D6;
	height: 460px;
	width: 1500px;
}
#top {
	height: 100px;
	width: 1500px;
	background-color: #CCCCCC;
	text-align: center;
}
#dh {
	height: 50px;
	width: 1500px;
	background-color: #CCC;
	text-align: center;
}
.dh-bt {
	height: 50px;
	width: 150px;
	float: left;
	text-align: center;
	font-size: 20px;
	font-family: "华文楷体";
	line-height: 50px;
	vertical-align: middle;
}
a:link {
	color: #7174B7;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
	display: block;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
	color: #FFF;
	background-color: #8A86C1;
	display: block;
}
